html {
	font-family: sans-serif;
}
/* reset */
html, body, div, article, p, h3, h4 {
	
	margin: 0;
	padding: 0;
}
.wrapper {
	width: 90%;
	margin: 0 auto;
}
.album {
	width: 350px;
	float: left;
	margin: 1em;
	height: 350px;
	overflow: hidden;
	position: relative;
}

.album article {
	position: relative;
	margin-top: -100px;
	background-color: rgba(255,255,255,0.5);
	height: 350px;
	font-size: .9em;
	padding: 1em;
	margin-top: 0;
	transition: margin-top .8s;
}
.album:hover article {
	margin-top: -360px;
	cursor: pointer;
}
.album article h3 .album article h4, .album article p {
	padding: .3em;
}

#validatie {
	padding-left: 45%;
	padding-top: 50%;
}



